header {
  padding: 30px;
  background-color: antiquewhite;
}
select,
button,
input {
  margin: 2%;
  padding: 8px;
  border-radius: 6px;
}
#root {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

#container {
  border: 2px solid #c3bdbdca;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#conta {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid #c3bdbdca;
}
h2 {
  background-color: #c3bdbd;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 0;
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 5px;
  padding: 5px;
}
